@font-face {
	font-family: 'IRANSansWebFaNum';
	src: url(../../assets/fonts/IRANSansWebFaNum.woff2) format('woff2'),
	url(../../assets/fonts/IRANSansWebFaNum.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'IRANSansWebFaNum';
	src: url(../../assets/fonts/IRANSansWebFaNum-Bold.woff2) format('woff2'),
	url(../../assets/fonts/IRANSansWebFaNum-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}